In [1]:
#quand je clique sur la cellule, contour vert
#j'édite l'intérieur de la cellule
#c'est du code python par défaut
#shift enter execute la cellule et passe à la suivante

texte en markdown

pour le markdown faire esc puis m puis shift enter

- **esc** + M convertit en markdown
- *esc* + y en ***code***

En mode édition de cellule,
a crée une cellule au dessus, b en dessous
double appuie sur d, supprime la cellule actuelle

In [3]:
a = 3

In [4]:
a

3

<h1 style="color:red;">Un titre en Html</h1>

In [7]:
a = "bonjour"

In [8]:
a

'bonjour'

In [9]:
print (a)

bonjour

les variables pointent vers un espace mémoire dans lequel l'objet est enregistré

- un id
- un type
- une valeur

In [10]:
id(a)

1236586643632

In [11]:
type(a)

str

In [12]:
print(a)

bonjour

In [13]:
type([1,2])

list

In [14]:
dir(3)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

**Les strings**

In [15]:
unstring = "Hello World"

Utilisation du . tab

In [17]:
unstring.upper

sur shift + tab quand l'attribut est écrit en entier 
donne l'aide sur la méthode ou l'attribut

In [18]:
unstring.upper()

'HELLO WORLD'

In [19]:
print (unstring.upper())

HELLO WORLD

In [20]:
unstring.lower()

'hello world'

In [21]:
print(unstring)

Hello World

In [22]:
unstring.replace("o","a")

'Hella Warld'

In [23]:
unstring

'Hello World'

In [24]:
!git init

Initialized empty Git repository in C:/Users/allan/Desktop/Boulot/Python/Cours/.git/

In [25]:
!git add.

git: 'add.' is not a git command. See 'git --help'.

The most similar command is
	add

In [26]:
!git add .

warning: LF will be replaced by CRLF in .ipynb_checkpoints/Mon premier notebook-checkpoint.ipynb.
The file will have its original line endings in your working directory
warning: LF will be replaced by CRLF in Mon premier notebook.ipynb.
The file will have its original line endings in your working directory

In [27]:
!git commit -m "first commit"

[master (root-commit) 6f0b378] first commit
 2 files changed, 607 insertions(+)
 create mode 100644 .ipynb_checkpoints/Mon premier notebook-checkpoint.ipynb
 create mode 100644 Mon premier notebook.ipynb

In [28]:
git remote add origin git@github.com:alland07/python-test.git

SyntaxError: invalid syntax (<ipython-input-28-31c7a10be3ef>, line 1)

In [29]:
!git remote add origin git@github.com:alland07/python-test.git

In [30]:
!git push -u origin master

Branch 'master' set up to track remote branch 'master' from 'origin'.

To github.com:alland07/python-test.git
 * [new branch]      master -> master


LISTES

In [31]:
uneListe = list()
uneListe

[]

In [32]:
uneliste = [2,3,"a","salut"]

Indexing

In [36]:
uneliste.append(18)
uneliste

[2, 3, 'a', 'salut', 18, 18, 18]

In [37]:
len(uneliste)

7

In [38]:
uneliste.insert(3,25000)

In [39]:
uneliste

[2, 3, 'a', 25000, 'salut', 18, 18, 18]

In [40]:
uneliste[0]

2

In [41]:
uneliste[-1]

18

interval d'index [start included:stop excluded:step]

In [43]:
uneliste[0:4]

[2, 3, 'a', 25000]

**Mutabilité**

Une liste est mutable
ça veut dire que je peux la modifier sans changer son id, ce n'est pas le cas pour les int ou str

utiliser .copy() pour copier une liste

**tuples**

In [47]:
untuple = (1,2,"a","b")

In [48]:
untuple

(1, 2, 'a', 'b')

In [49]:
untuple[0]

1

**Dictionnaires**

In [50]:
dico = {}

Un dico est un ensemble de clé:valeur

In [57]:
contacts = {
    'Joseph': "0664060746",
    "Julie": "+3367125128",
    "Arnaud": "+35219263282"
}

**Accès aux valeurs**

In [61]:
contacts['Joseph']

'0664060746'

Créer

In [59]:
contacts['Seb'] = "+93383736373"

In [60]:
contacts

{'Joseph': '0664060746',
 'Julie': '+3367125128',
 'Arnaud': '+35219263282',
 'Seb': '+93383736373'}

Suppr

In [62]:
del contacts["Julie"]

In [63]:
contacts

{'Joseph': '0664060746', 'Arnaud': '+35219263282', 'Seb': '+93383736373'}

On ne peut pas mettre une liste en clé d'un dictionnaire

Mais un tuple oui

**Look up**

In [64]:
"Julien" in contacts

False

In [65]:
"Seb" in contacts

True

**loop**

In [66]:
a = 25
while a < 27:
    print (a)
    a += 1

25
26

for loop sur une liste

In [67]:
for element in uneliste:
    print (element)

2
3
a
25000
salut
18
18
18

sur un dico ( par défaut les clés

In [68]:
for element in contacts:
    print (element)

Joseph
Arnaud
Seb

Pour valeurs

for element in contacts.values():
    print (element)

clés + valeurs

In [81]:
for a, b in contacts.items():
    print(a)
    print(b)
    print("_______")

Joseph
0664060746
_______
Arnaud
+35219263282
_______
Seb
+93383736373
_______

In [72]:
for element in contacts.items():
    print (element)

('Joseph', '0664060746')
('Arnaud', '+35219263282')
('Seb', '+93383736373')

In [73]:
liste_tuples = list(contacts.items())
liste_tuples

[('Joseph', '0664060746'), ('Arnaud', '+35219263282'), ('Seb', '+93383736373')]

In [74]:
dict(liste_tuples)

{'Joseph': '0664060746', 'Arnaud': '+35219263282', 'Seb': '+93383736373'}

Iterable unpacking

In [77]:
a, b = (1, "Bonjour")
print(a)
print(b)

1
Bonjour

extended iterable unpacking

In [79]:
a, *b, c = (1, "Bonjour","au revoir",24)
print(a)
print(b)
print(c)

1
['Bonjour', 'au revoir']
24

In [80]:
a, *b = (1, "Bonjour","au revoir",24)
print(a)
print(b)

1
['Bonjour', 'au revoir', 24]

sets

In [83]:
un_set = {1,2,3,4}

*La différence symétrique*

In [84]:
un_set2 = {5,6,1,"Salut"}

In [85]:
un_set ^ un_set2

{2, 3, 4, 5, 6, 'Salut'}

**boucles et opérations**

In [86]:
liste1 = [2,3,4,"Salut",6,7]

In [87]:
liste2 =[]
for el in liste1:
    liste2.append(el*2)
print(liste2)

[4, 6, 8, 'SalutSalut', 12, 14]

In [88]:
liste2 = [el*2 for el in liste1]

[4, 6, 8, 'SalutSalut', 12, 14]

multiplier par 3 seulement si int dans la liste sinon *2

In [89]:
[el*3 if type(el) == int else el*2 for el in liste1]

[6, 9, 12, 'SalutSalut', 18, 21]

In [90]:
contacts

{'Joseph': '0664060746', 'Arnaud': '+35219263282', 'Seb': '+93383736373'}

Dict compréhension

In [91]:
contacts = {'Joseph': 24, 'Julie': 16, 'Sebastien': 18}

Boucle simple, ajouter un an à toutes les personnes qui commencent par J et enregistrer dans un nouveau dico

In [94]:
contacts_updated = {}
for name, age in contacts.items():
    if name.upper().startswith("J"):
        contacts_updated[key] = age+1
    #else:
     #   contacts_updated[key] = age
contacts_updated

{'Joseph': 25, 'Julie': 17, 'Sebastien': 18}

In [95]:
{name:age+1 if name.startswith('J') else age for name, age in contacts.items()}

{'Joseph': 25, 'Julie': 17, 'Sebastien': 18}